[user]
  name  = Keita Tsukamoto
  email = t.k.columbus1012@gmail.com
[color]
  ui = auto
[alias]
  co = checkout
  br = branch
  st = status
  logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  mergelog = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  history = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
  cancel = reset --soft HEAD^
[push]
  default = current
[core]
  excludefile = ~/.gitignore
  excludesfile = ~/.gitignore_global
[pager]
  log  = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[interactive]
  diffFilter = diff-highlight
[diff]
  compactionHeuristic = true
